{% extends 'layouts/admin.html' %}

{% block title %}
| الرئيسية
{% endblock %}

{% block content_header %}
<h1>لوحة التحكم</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-12 col-md-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ group_members }}</h3>
                <p>الأعضاء في المجموعة</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 col-md-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ db_members }}</h3>
                <p>الأعضاء في قاعدة البيانات</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 col-md-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{ (group_members - db_members)|abs }}</h3>
                <p>الأعضاء في المجموعة وليسوا في قاعدة البيانات</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}