{% extends 'layouts/master.html' %}

{% block content %}
    <div class="bg-white mb-10 py-6 shadow-sm">
        <h1 class="text-2xl font-bold text-center">الموافقة على الشروط</h1>
    </div>
    <div class="container mx-auto mb-4">

        <div class="bg-white p-4 max-w-4xl rounded-md shadow-md mx-auto">
            <div class="border border-gray-400 p-2 text-gray-900">
                <p>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم. </p>
            </div>
    
            <div class="mt-2">
                <input type="checkbox" name="accept_tos" id="accept_tos" {% if flash.old[0].accept_tos == 'on' %} checked {% endif %}>
                <label for="accept_tos">أوافق على شروط الاستخدام</label>
            </div>
    
            <p class="text-red-600 mt-2 hidden" id="accept_tos_error">يجب أن توافق على شروط الاستخدام</p>
    
            <div class="flex justify-end">
                <button type="button" class="bg-blue-600 shadow-md hover:shadow-lg hover:bg-blue-700 transition duration-300 text-white px-4 py-2 rounded-md" onclick="nextStep()">التالي</button>
            </div>
        </div>

    </div>
{% endblock %}