:root {
  --font-family: 'Almarai', sans-serif;
}

body {
  direction: rtl;
  text-align: right;
  font-family: var(--font-family);
  background: #fdfdfd;
}

button, input, optgroup, select, textarea { font-family: var(--font-family); }

.navbar {
  background-color: #7b9c9e;
}

.brand-logo__image {
  height: 64px;
}

.register-terms {
  height: 300px;
  overflow-y: scroll;
}