@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    direction: rtl;
    text-align: right;
    font-family: 'Almarai', sans-serif;
    background: #efefef;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.next-step .step-1 {
    transform: translateX(100%);
}
.next-step .step-2 {
    transform: translateX(100%);
}

.alert-warning {
    @apply bg-orange-300;
    @apply text-orange-900;
}

.alert-danger {
    @apply bg-red-300;
    @apply text-red-900;
}